.App {
  display: flex;
  align-items: center;
  text-align: center;
}

.item {
  padding: 1em;
  font-size: xx-large;
}

.styled-select select {
  background: transparent;
  width: 600px;
  text-align-last: center;
  padding: 5px;
  font-size: 18px;
  border: 0.5px solid #ccc;
  height: 34px;
  border-radius: 5px;
}

.time {
  font-size: x-large;
  color: rgb(89, 89, 89);
  margin-bottom: 30px;
}
