.App {
  display: flex;
  align-items: center;
  text-align: center;
}

.item {
  padding: 1em;
  font-size: xx-large;
}

.items {
  display: flex;
  justify-content: center;
}

.styled-select select {
  background: transparent;
  width: 400px;
  text-align-last: center;
  padding: 5px;
  font-size: 18px;
  border: 0.5px solid #ccc;
  height: 34px;
  border-radius: 5px;
}

.time {
  font-size: x-large;
  color: rgb(89, 89, 89);
  margin-bottom: 30px;
  margin-top: 30px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  display: flex;
  justify-content: space-between;
}

.cl-btn-7 {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  z-index: 1;
  margin: 20px auto;
  cursor: pointer;
  margin: 13px;
}
.cl-btn-7:before {
  content: "+";
  color: grey;
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  font-size: 50px;
  line-height: 1;
  top: -5px;
  left: 6px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.cl-btn-7:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: grey;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transform: scale(0.01);
}
.cl-btn-7:hover:after {
  transform: scale(1);
}
.cl-btn-7:hover:before {
  transform: scale(0.8) rotate(45deg);
  color: #fff;
}
